/* .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
} */
/* 
.ant-btn:hover,
.ant-btn:focus {
  background: #357f59d6;
  color: #fff;
  border-color: #427c5e;
} */

/* .ant-btn-primary {
  border: 1px solid #ccc;
  background-color: #427c5e;
} */


  

